DEBUG=
SECRET_KEY=
ALLOWED_HOSTS=web localhost third_host (more than 3)
CSRF_TRUSTED_ORIGINS=web:8000 localhost:8000 third_host:8000 (more than 3)

LOGIN=
PASSWORD=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=db in docker
DATABASE_PORT=5432 in docker

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@ya.ru