.title span:first-child{
    color: rgb(10, 43, 163);
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0%;
    text-align: left;
}
.title span:last-child{
    color: rgb(39, 39, 39);
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0%;
    text-align: left;
}
.buttoninputfile{
    border-radius: 13px;
    background: rgb(10, 43, 163);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    width: 100%;
}
.windowfile{
    border: 5px dashed rgb(148, 148, 148);
    border-radius: 33px;
    height: 380px;
    
}
.underuploadicon{
    color: rgb(39, 39, 39);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.homepage{
    font-family: Montserrat;
}

.textlabelsblock{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}
.iconlabel{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.rowLables {
    backdrop-filter: blur(4px);
    background: radial-gradient(870.03% 155.00% at -11% -40%, rgb(21, 10, 163) 4.221%, rgba(0, 10, 250, 0.56) 100%) /* Предупреждение: градиент использует вращение, не поддерживаемое CSS, и может работать не так, как ожидается. */;
    background: radial-gradient(870.03% 155.00% at -11% -40%, rgb(21, 10, 163) 4.221%, rgba(0, 10, 250, 0.56) 100%) /* Предупреждение: градиент использует вращение, не поддерживаемое CSS, и может работать не так, как ожидается. */ to right;
}

@media (max-width: 768px) {
    .flex-col md:flex-row {
        flex-direction: column;
    }
    .leftpanel, .w-full.md\:w-[52%] {
        width: 100%;
    }
}