.title span:first-child{
    color: rgb(10, 43, 163);
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0%;
}
.title span:last-child{
    color: rgb(39, 39, 39);
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0%;
}

.buttoninputfile{
    border-radius: 13px;
    background: rgb(10, 43, 163);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.windowfile{
    border: 5px dashed rgb(148, 148, 148);
    border-radius: 33px;
    height: 380px;
    width: 100%;
}
.underuploadicon{
    color: rgb(39, 39, 39);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.homepage{
    font-family: Montserrat;
}


.textlabelsblock{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}
.iconlabel{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.rowLables {
    backdrop-filter: blur(4px);
    background: radial-gradient(870.03% 155.00% at -11% -40%, rgb(21, 10, 163) 4.221%, rgba(0, 10, 250, 0.56) 100%) ;
    background: radial-gradient(870.03% 155.00% at -11% -40%, rgb(21, 10, 163) 4.221%, rgba(0, 10, 250, 0.56) 100%) to right;
}

.buttoninputfileMobile{
    display: none;
    border-radius: 13px;
    background: rgb(10, 43, 163);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    width: 100%;
    cursor: pointer;
    @apply mt-[24px]
}

@media (max-width: 768px) {
    .flex-col md:flex-row {
        flex-direction: column;
    }
    .title{
        width: 100% !important;
    }
    .buttoninputfileMobile{
        width: 100% !important;
        @apply mx-[5%]
    }
}

@media (max-width: 958px) {
    .mainLabel{
        flex-direction: column;
    }
    .windowfile{
        display: none;
    }
    .pcInputLabel{
        display: none;
    }
    .buttoninputfileMobile{
        display: block;
    }
    .mainLabel{
        margin-top: 44px;
    }
    .title span{
        text-align: center;
        font-size: 43px !important;
        font-family: Montserrat !important;
        font-weight: 700 !important;
        line-height: 52px !important;
        letter-spacing: 0% !important;
    }
    .leftpanelLabel{
        display: flex !important;
        justify-content: center !important;
    }
    .title{
        width: 70%;
    }
    .buttoninputfileMobile{
        width: 70%;
    }
    .buttonMobileDiv{
        width: 100% !important;
        @apply flex justify-center
    }
    .leftpanelLabel{
        padding-left: 0 !important;
    }
    
}


@media (max-width: 600px) {
       

}


@media (max-width: 1050px) {
    .title span{
        font-size: 56px !important;
    }    

}

.processWindowText{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
}


.processWindow {
    width: 200px;
    height: 200px; /* Изменяем высоту элемента */
    border-radius: 50%; /* чтобы сделать круг */
    border: 21px solid transparent;
    border-top-color: rgb(10, 43, 163); /* синий цвет круга */
    animation: spin 1s linear infinite; /* добавляем анимацию */
}
  
  @keyframes spin {
    to {
      transform: rotate(360deg); /* поворачиваем круг на 360 градусов */
    }
  }

  .rotatedImage {
    transform: rotate(90deg) !important; /* Поворачиваем картинку на 90 градусов */
  }
  .buttonOkey{
    border-radius: 13px;
    background: rgb(10, 43, 163);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 86px 24px 86px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
  }

  .titleCalc{
    color: rgba(0, 0, 0, 0.71);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
    @apply ml-[16px]
  }

  .cartCalc{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    padding: 18px;
    @apply flex gap-[30px] rounded-3xl relative mx-[16px]
  }
  .cartCalc:last-child{
    @apply mb-[12px]
  }
.calcItemName{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
}
.materialInput{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.materialInput select{
    box-sizing: border-box;
    border: 1px solid rgb(10, 43, 163);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 14.82px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    @apply px-[9px] flex items-center
}
.inputDivCount{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    gap: 8px;
    margin-top: 13px;
}
.inputDivCount input{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 14.82px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgb(10, 43, 163);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    @apply px-[9px] flex items-center
}
.inputDivCount span{
    color: rgb(113, 113, 113);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}

.AllPriceItem{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 31px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 9px;
}
.AllPriceItem span{
    margin-left: 37px;
    margin-right: 12px;
}
.divScroll {
    overflow-y: auto;
    scrollbar-width: 0px; 
    scrollbar-color: transparent transparent; 
}

.divScroll::-webkit-scrollbar {
    width: 0px; 
}

.placingTitle{
    color: rgba(0, 0, 0, 0.71);
    font-family: Montserrat;
    font-size: 43.59px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
}
.inputDivPOrder label{
    font-family: Montserrat;
    font-size: 24.22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.inputDivPOrder input{
    box-sizing: border-box;
    border: 1.21px solid rgb(10, 43, 163);
    border-radius: 9.69px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 17.94px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    @apply px-[11px] py-[7px]
}
.buttonsOrderRow1{
    color: rgb(55, 46, 153);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    box-sizing: border-box;
    border: 1.13px solid rgba(0, 0, 0, 0.11);
    border-radius: 6.8px;
    box-shadow: 0px 4.54px 4.54px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    text-align: center;
    @apply py-[12px]
}
.buttonsOrderRow2{
    border-radius: 6.79px;
    box-shadow: 0px 4.54px 4.54px 0px rgba(0, 0, 0, 0.25);
    background: rgb(10, 43, 163);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 21.79px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    @apply py-[12px]
}



@media (max-width: 1100px) {
    .loadPopup{
        padding-top: 20% !important;
    }
}


@media (max-width: 600px) {
    .loadPopup{
        padding-top: 40% !important;
    }
    .loadPopupDiv{
        width: 330px !important;
        height: 350px !important;
    }
    .loadPopupOkey{
        width: 140px !important;
        height: 140px !important;
        margin-bottom: 16px;
    }
    .buttonOkey{
        width: 90% !important;
        height: 50px !important;
        font-size: 23px !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .processWindowText{
        font-size: 23px;
    }
    .divGap{
        gap: 12px !important;
    }

}

@media (max-width: 600px) {
    .title span {
        font-size: 30px;
        line-height: 36px;
    }
    
    .buttonOkey {
        padding: 12px 48px;
        font-size: 18px;
    }
    
}

@media (min-width: 601px) and (max-width: 959px) {
    .title span {
        font-size: 40px;
        line-height: 48px;
    }
    
    .buttonOkey {
        padding: 18px 64px;
        font-size: 24px;
    }
    
}

@media (min-width: 960px) {
    .title span {
        font-size: 70px;
        line-height: 85px;
    }
    
    .buttonOkey {
        padding: 24px 86px;
        font-size: 30px;
    }
    
}

.TitleMobile{
    display: none;
}

@media (max-width: 700px) {
    .cartCalc{
        display: flex !important;
        flex-direction: column !important;
        padding: 12px !important;
        gap: 8px !important;
    }
    .TitleMobile{
        font-weight: 700 !important;
        font-size: 32px !important;
        line-height: 36px;
        display: block;
        width: 80%;
    }
    .calcItemName{
        display: none;
    }
    .titleCalc{
        font-size: 24px;
        width: 80%;
    }
    .divCalculate{
        padding-top: 10%;
        padding-left: 6%;
        padding-right: 6%;
    }
    .divSvgDXF{
        margin-top: 8px;
        width: 100%;
    }
    .materialInput, .inputDivCount{
        @apply flex flex-col items-start mt-[0] gap-[0]
    }
    .ffjjhh{
        @apply mx-[0]
    }
    .materialInput select, .inputDivCount input{
        height: 25px !important;
    }
    .materialInput div, .inputDivCount div{
        font-size: 18px;
    }
    .materialInput select{
        margin-bottom: 8px;
    }
    .spanPriceItem{
        margin-top: 4px;
    }
    .AllPriceItem{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }
    .divScroll{
        @apply max-h-[600px]
    }
    .rotatedImage img{
        width: 24px;
        height: 24px;
    }
    .placingTitle{
        font-size: 30px;
        line-height: 36px;
    }
    .buttonPlacing{
        @apply flex flex-col gap-[8px]
    }
    .buttonPlacing div{
        width: 100%;
    }
}
.questionWindow{
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    @apply items-center -mr-[230px] mt-[25px]

}

@media (max-width: 1000px) {
    .questionWindow div{
        font-size: 10px !important;
    }
    .questionWindow{
        @apply items-center -mr-[150px] -mt-[50px]
    }
}