.wrapper {
  box-shadow: 0px 4px 11.5px 0px rgba(0, 0, 0, 0.25);
}

.logoTitle {
  font-family: Inter;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.navigationWrapper {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.navigationWrapper ul li {
  margin-right: 20px;
}

.navigationWrapper ul li {
  margin-right: 10px;
}

.userAuthButtonWrapper {
}

.signUpButton {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(55, 46, 153, 1);
  src: url("tilda-sans_vf.woff2") format("woff2"),
    url("tilda-sans_vf.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 6px;
}

.logInButton {
  background-color: rgba(10, 43, 163, 1);
  color: white;
  border-radius: 6px;
  src: url("tilda-sans_vf.woff2") format("woff2"),
    url("tilda-sans_vf.woff") format("woff");
  font-weight: 600;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logInButton:hover,
.signUpButton:hover,
.navigationWrapper ul li,
.logoTitle {
  cursor: pointer;
}

.popupItemsWrapper div span {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.popupItemsWrapper div {
  border-bottom: 1px solid rgba(136, 136, 136, 1);
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupItemsWrapper div span {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.popupItemsWrapper div:last-child {
  /* border-bottom: 0; */
  /* margin-bottom: 20px; */
}

@media (min-width: 1024px) {
  .formWrapper label {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .formWrapper input {
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
}
