name: 'Deploy on server'

on:
  push:
    branches: 
      - master

jobs:
  deploy:
      runs-on: ubuntu-latest
      steps:
        - name: run on server
          uses: garygrossgarten/github-action-ssh@release
          with:
            host: ${{ secrets.SERVER_HOST }}
            username: ${{ secrets.SERVER_USER }}
            password: ${{ secrets.SERVER_PASSWORD }}
            command: |
              cd /home/ubuntu/CutDetal &&
              git checkout master &&
              git pull &&

              rm -f .env &&
              touch .env &&
              
              echo "DEBUG=False" >> .env &&
              echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env &&

              echo "ALLOWED_HOSTS=${{ secrets.ALLOWED_HOSTS }}" >> .env &&
              echo "CSRF_TRUSTED_ORIGINS=${{ secrets.CSRF_TRUSTED_ORIGINS }}" >> .env &&

              echo "LOGIN=${{ secrets.LOGIN }}" >> .env &&
              echo "PASSWORD=${{ secrets.PASSWORD }}" >> .env &&

              echo "DATABASE_NAME=${{ secrets.DATABASE_NAME }}" >> .env &&
              echo "DATABASE_USER=${{ secrets.DATABASE_USER }}" >> .env &&
              echo "DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }}" >> .env &&
              echo "DATABASE_HOST=${{ secrets.DATABASE_HOST }}" >> .env &&
              echo "DATABASE_PORT=${{ secrets.DATABASE_PORT }}" >> .env &&
              
              echo "DJANGO_SUPERUSER_USERNAME=${{ secrets.DJANGO_SUPERUSER_USERNAME }}" >> .env &&
              echo "DJANGO_SUPERUSER_PASSWORD=${{ secrets.DJANGO_SUPERUSER_PASSWORD }}" >> .env &&
              echo "DJANGO_SUPERUSER_EMAIL=${{ secrets.DJANGO_SUPERUSER_EMAIL }}" >> .env &&
              echo "REACT_APP_API_URL=${{ secrets.REACT_APP_API_URL }}" >> ./frontend/.env &&
              
              sudo docker compose up -d --build --force-recreate 
